.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    position: relative;
    z-index: 5;
    margin: auto;
}

.dropdown-open-button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 10vh;
    background-color: #00000045;
    border: white solid 0.2rem;
    backdrop-filter: blur(0.5rem);
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 15vh;
}

.dropdown-open-button:hover {
    background-color: #00000075;
}

.dropdown-list {
    width: 65%;
    max-height: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #222;
    border: 0.1rem solid #555;
    border-radius: 0.5rem;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    opacity: 0;
}

.dropdown-list.open {
    max-height: 40vh;
    overflow-y: auto;
    opacity: 1;
}

.dropdown-item {
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-bottom: 0.1rem solid #444;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #333;
}

.dropdown-list {
    scrollbar-width: thin;
    scrollbar-color: #888 #222;
}

.dropdown-list::-webkit-scrollbar {
    width: 0.1rem;
}

.dropdown-list::-webkit-scrollbar-track {
    background: #222;
    border-radius: 0.1rem;
}

.dropdown-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.1rem;
    border: 0.02rem solid #222;
}

@media screen and (max-width: 768px) {
    .dropdown-container {
        width: 90%;
    }

    .dropdown-open-button {
        font-size: 1.4rem;
    }

    .dropdown-item {
        font-size: 1rem;
    }
}