.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 5;
    overflow-y: auto;
    margin: 0;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 1.5rem auto;
    background-color: #00000045;
    border: 0.1rem solid #fff;
    backdrop-filter: blur(0.5rem);
    filter: drop-shadow(0 0 0.5rem #000);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    color: var(--white);
}

.experience-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.experience-description {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
}

.experience-banner {
    width: 65%;
    height: auto;
    border-radius: 1rem;
    aspect-ratio: 32/9;
    object-fit: cover;
    margin: 1rem 0;
    border: 0.2rem solid #fff;
    filter: drop-shadow(0 0 0.5rem #000);
}

.experience-icon {
    width: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    z-index: 6;
    border: 0.2rem solid #fff;
    filter: drop-shadow(0 0 0.5rem #000);
}

.experience-timeframe {
    font-size: 1rem;
    margin: 1rem 0;
}

@media screen and (max-width: 768px) {
    .experience-title {
        font-size: 1.5rem;
    }

    .experience-description {
        font-size: 1rem;
    }

    .experience {
        width: 90%;
    }

    .experience-banner {
        width: 90%;
    }
}