body {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: fixed;
    z-index: 4;
    width: 100%;
}

.project-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    position: relative;
    z-index: 5;
    margin: auto;
}

.dropdown-open-button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 10vh;
    background-color: #00000045;
    border: white solid 0.2rem;
    backdrop-filter: blur(0.5rem);
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 15vh;
}

.dropdown-open-button:hover {
    background-color: #00000075;
}

.dropdown-list {
    width: 65%;
    max-height: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #222;
    border: 1px solid #555;
    border-radius: 0.5rem;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    opacity: 0;
}

.dropdown-list.open {
    max-height: 40vh;
    overflow-y: auto;
    opacity: 1;
}

.dropdown-item {
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-bottom: 1px solid #444;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #333;
}

.dropdown-list {
    scrollbar-width: thin;
    scrollbar-color: #888 #222;
}

.dropdown-list::-webkit-scrollbar {
    width: 0.1rem;
}

.dropdown-list::-webkit-scrollbar-track {
    background: #222;
    border-radius: 0.1rem;
}

.dropdown-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.1rem;
    border: 0.02rem solid #222;
}

.hidden {
    display: none;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 5;
    overflow-y: auto;
    margin: 0;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 2rem auto;
    background-color: #00000045;
    border: 0.1rem solid #fff;
    backdrop-filter: blur(0.5rem);
    filter: drop-shadow(0 0 0.5rem #000);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    color: var(--white);
}

.project-header {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.project-description {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.project-video {
    width: 35vw;
    aspect-ratio: 16/9;
    margin: 1rem 0;
}

.project-image {
    width: 10rem;
    aspect-ratio: 1/1;
    margin: 1rem 0;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .project-video {
        width: 80vw;
    }

    .project-image {
        width: 5rem;
    }
}