.projects-header {
    font-size: 3.5rem;
}

.project {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 50vw;
}

.project-video {
    aspect-ratio: 16/9;
}

.sub-header {
    font-size: 2.4rem;
}

.project-desc {
    font-size: 1.4rem;
}

.project-button {
    color: var(--white);
    text-decoration: none;
    background-color: var(--grey-blue);
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 1vh 2vw;
    border: 0.2rem solid var(--white);
    border-radius: 0.2rem;
    transform: scale(100%);
    transition-duration: 0.4s;
}

.project-button:hover {
    border-radius: 0.5rem;
    transition-duration: 0.4s;
    transform: scale(110%);
}