p {
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

#jst-commands-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    text-align: center;
}

/* Lay the categories in a grid */
#jst-commands-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 1em;
}

#jst-commands-content-general {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #0a092d;
}

#jst-commands-content-general-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#jst-commands-content-general-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#jst-commands-content-moderation {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #0a092d;
}

#jst-commands-content-moderation-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#jst-commands-content-moderation-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#jst-commands-content-fun {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #0a092d;
}

#jst-commands-content-fun-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#jst-commands-content-fun-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#jst-commands-content-utilities {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #0a092d;
}

#jst-commands-content-utilities-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#jst-commands-content-utilities-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#jst-commands-content-setup {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #0a092d;
}

#jst-commands-content-setup-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px
}

#jst-commands-content-setup-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#jst-commands-content-advanced-roles {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #0a092d;
}

#jst-commands-content-advanced-roles-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#jst-commands-content-advanced-roles-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}